<div class="bg-uclblue px-4 py-5 flex items-center justify-between rounded-lg h-60">
  <%= f.simple_fields_for game.id.to_s, prediction do |ff| %>
    <div class="flex flex-col-reverse items-center justify-center">
      <%= image_tag game.home_team.logo, width: 70, class: "max-h-20" %>
      <%= ff.label :home_score, game.home_team.name, class: "pb-3" %>
    </div>
    <%= ff.input :home_score, as: :string, label: false, input_html: { class: "w-12 bg-uclbluedark text-white border-uclbluelight rounded-lg text-center text-xl", data: {action: "change->update-rankings#update"} } %>

    <%= ff.input :away_score, as: :string, label: false, input_html: { class: "w-12 bg-uclbluedark text-white border-uclbluelight rounded-lg text-center text-xl", data: {action: "change->update-rankings#update"} } %>
    <div class="flex flex-col-reverse items-center justify-center">
      <%= image_tag game.away_team.logo, width: 70, class: "max-h-20" %>
      <%= ff.label :away_score, game.away_team.name, class: "pb-3" %>
    </div>
  <% end %>
</div>
