<ul class="flex -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
  <% matchdays.each_with_index do |matchday, index| %>
    <li class="me-2" role="presentation">
      <button
        class="inline-flex p-4 border-b-2 rounded-t-lg"
        id="matchday<%= matchday.id %>-tab"
        data-action = "click->tabs#activate"
        data-tabs-target="#matchday<%= matchday.id %>"
        type="button"
        role="tab"
        aria-controls="matchday<%= matchday.id %>"
        aria-selected="false"
      >
        <a href="<%= matchday_path(matchday) %>">
          <p>Matchday <%= index + 1 %></p>
          <p><%= matchday.start_date %> - <%= matchday.end_date %></p>
        </a>
      </button>
    </li>
  <% end %>
</ul>
