<div class="container matchday-container" data-controller="tabs">
  <div class="summary mb-4 border-b">
    <%= render "horizontal_list", matchdays: @matchdays %>
  </div>

  <div class="md:grid md:grid-cols-3 gap-5">
    <div class="md:col-span-2">
      <% @matchdays.each do |matchday| %>
        <div
          class="<%= "hidden" unless matchday == Matchday.next %>"
          id="matchday<%= matchday.id %>"
          role="tabpanel"
          aria-labelledby="matchday<%= matchday.id %>-tab"
        >
          <%= simple_form_for matchday, url: update_predictions_matchday_path(matchday), method: :patch, remote: true do |f| %>
            <%= render "predictions", matchday: matchday, games: matchday.games, f:f %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="table-container">
      <%= render "table", clubs: @clubs %>
    </div>
  </div>
</div>
